<form method="post" action="{{ path('app_assortiment_delete', {'id': assortiment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ assortiment.id) }}">
    <button class="btn">Delete</button>
</form>
