{% extends 'base.html.twig' %}

{% block title %}Edit Assortiment{% endblock %}

{% block body %}
    <h1>Edit Assortiment</h1>

    {{ include('assortiment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assortiment_index') }}">back to list</a>

    {{ include('assortiment/_delete_form.html.twig') }}
{% endblock %}
