{% extends 'base.html.twig' %}

{% block title %}Edit ProductsMovement{% endblock %}

{% block body %}
    <h1>Edit ProductsMovement</h1>

    {{ include('products_movement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_products_movement_index') }}">back to list</a>

    {{ include('products_movement/_delete_form.html.twig') }}
{% endblock %}
