{% extends 'base.html.twig' %}

{% block title %}New ProductsMovement{% endblock %}

{% block body %}
    <h1>Create new ProductsMovement</h1>

    {{ include('products_movement/_form.html.twig') }}

    <a href="{{ path('app_products_movement_index') }}">back to list</a>
{% endblock %}
