<div id="twigHTMLContainer">
<table id="dynamic-table"></table>
<button id="add-item-btn" class="btn btn-success mb-2">Добавить представителя партнера</button>

<!-- Модальное окно для добавления/редактирования -->
<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="item-form">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="itemModalLabel">Представитель партнера</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="item-id">
        <!-- Поля модального окна -->
          <div class="mb-3">
            <label for="item-user_id" class="form-label">Пользователь</label>
            <input type="text" class="form-control" id="item-user_id" required>
          </div>
          <div class="mb-3">
            <label for="item-partner_id" class="form-label">Партнер</label>
            <input type="text" class="form-control" id="item-partner_id" required>
          </div>
        <!---->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary" id="save-item-btn">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<script type="text/javascript" src="{{ path('admin_table_partner_representatives_js') }}"></script>