<div id="twigHTMLContainer">
<table id="dynamic-table"></table>
<button id="add-item-btn" class="btn btn-success mb-2">Добавить поставщика</button>

<!-- Модальное окно для добавления/редактирования -->
<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="item-form">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="itemModalLabel">Поставщик</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="item-id">
        <!-- Поля модального окна -->
          <div class="mb-3">
            <label for="item-firmname" class="form-label">Наименование</label>
            <input type="text" class="form-control" id="item-firmname" required>
          </div>
          <div class="mb-3">
            <label for="item-contact_number" class="form-label">Телефон</label>
            <input type="text" class="form-control" id="item-contact_number" required>
          </div>
          <div class="mb-3">
            <label for="item-address" class="form-label">Адрес</label>
            <input type="text" class="form-control" id="item-address" required>
          </div>
        <!---->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary" id="save-item-btn">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<script type="text/javascript" src="{{ path('admin_table_suppliers_js') }}"></script>