{% extends 'base.html.twig' %}

{% block title %}Edit Affiliates{% endblock %}

{% block body %}
    <h1>Edit Affiliates</h1>

    {{ include('affiliates/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_affiliates_index') }}">back to list</a>

    {{ include('affiliates/_delete_form.html.twig') }}
{% endblock %}
