{% extends 'base.html.twig' %}

{% block title %}New Affiliates{% endblock %}

{% block body %}
    <h1>Create new Affiliates</h1>

    {{ include('affiliates/_form.html.twig') }}

    <a href="{{ path('app_affiliates_index') }}">back to list</a>
{% endblock %}
